@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-sans: "Inter", sans-serif;
  
  --color-brand: #06b6d4;
  --color-secondary: #8b5cf6;
  --color-midnight: #020617;
  --color-slate-muted: #94a3b8;
}

@layer base {
  body {
    @apply bg-midnight text-white font-sans antialiased;
  }
}
